/STM32F411/EWARM/RevvyDemo/Obj
Structural parts/Kickstarter videos/Brain pcb/publish/RRRC_carrier_board_with_5V_connector_derived.stp
Structural parts/Kickstarter videos/Full kit assembly/Full_kit_assembly_for_kickstarter_video.max
Structural parts/Kickstarter videos/Full kit assembly/Full kit assembly.stp
Structural parts/Kickstarter videos/Full kit assembly/Full kit assembly.obj.zip

App/RevvyDemo/Images/._.DS_Store

App/RevvyDemo/Images/.DS_Store
*.DS_Store
*.err

*.bak
